

.pbox {
  margin: 0 0 20px 0; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0px 2px rgba(0,0,0,.1);
  box-shadow: 0 0px 2px rgba(0,0,0,.05);
}
/**
 * Grid container
 */
#tiles {
 	list-style-type: none;
	position: relative; /** Needed to ensure items are laid out relative to this container **/
	margin: 0;
}

/**
 * Grid items
 */
#tiles li {
 	width: 200px;
 	margin: 0 auto;
 	background-color: #ffffff;
 	border: 1px solid #dedede;
 	-moz-border-radius: 2px;
 	-webkit-border-radius: 2px;
 	border-radius: 2px;
	display: none; /** Hide items initially to avoid a flicker effect **/
	cursor: pointer;
}

#tiles li img {
	display: block;
}

/** Loader **/
  
#loader {
  height: 16px;
  text-align: center;
  padding: 25px 0 25px 0;
}