<% if current_user %>
    <ul class="nav pull-right" id="userbar">
      <%
         badge_class = ""
         #badge_class = "badge-error" if @unread_notify_count > 0
      %>

      <li class="dropdown" id="user_menu">
        <%= link_to(raw("#{current_user.login} <b class='caret'></b>"), "#user_menu", :class => "dropdown-toggle", "data-toggle" => "dropdown") %>
        <%= render_list :class => "dropdown-menu" do |li|
          li << link_to('我的主页', user_path(current_user.login) )
          unless params[:controller].match(/cpanel/)
            li << link_to('个人资料修改', edit_user_registration_path)
            #li << link_to('我的收藏', favorites_user_path(current_user.login))
            li << link_to('后台', "/cpanel") if admin?
          end
          li << link_to('退出', destroy_user_session_path, :method => 'delete' )
        end %>
      </li>
    </ul>
<% else %>
    <%= render_list :class => "nav pull-right", :id => "userbar" do |li|
      li << link_to( '注册', new_user_registration_path)
      li << link_to( '登录', new_user_session_path )
    end %>
<% end %>
